<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8a7QglVzHZcpMw6ZyAw-AhQhW9J3pIK0</string>
	<key>GCM_SENDER_ID</key>
	<string>823906059848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lx.lxtoolkit</string>
	<key>PROJECT_ID</key>
	<string>lxtoolkit-6f58d</string>
	<key>STORAGE_BUCKET</key>
	<string>lxtoolkit-6f58d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823906059848:ios:1d3036039fbf3567513a7d</string>
</dict>
</plist>