//
//  API-Debug.xcconfig
//  DJTest
//
//  Created by LXThyme Jason on 2021/4/1.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-DJTest/Pods-DJTest.debug.xcconfig"
#include "Common/Common.xcconfig"
#include "Common/Common.Debug.xcconfig"
// #include "Common/Combine.xcconfig"
#include "API.xcconfig"
