//
//  Common.xcconfig
//  dms
//
//  Created by LXThyme Jason on 2021/4/1.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUILD_NUMBER = 2023122410
CURRENT_PROJECT_VERSION = 8.99.0
//MARKETING_VERSION=${BUILD_NUMBER}
MARKETING_VERSION = main20240307-540-ded6f2b0
//PRODUCT_BUNDLE_IDENTIFIER = com.baiweietech.dms
PRODUCT_BUNDLE_IDENTIFIER = com.lx.bl.lxtoolkit
// DEVELOPMENT_TEAM = 6C6JHMW46K
DEVELOPMENT_TEAM = 2KWAGZM2TW
