//
//  Common.xcconfig
//  dms
//
//  Created by LXThyme Jason on 2021/4/1.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// VALIDATE_PRODUCT = YES;
// SWIFT_OPTIMIZATION_LEVEL = -Owholemodulel;
// BUILD_GCC_PREPROCESSOR_DEFINITIONS = $(inherited) NDEBUG;

PRODUCT_NAME = $(TARGET_NAME)
// PRODUCT_NAME = $(TARGET_NAME)-Release
// DISPLAY_NAME = $(inherited)-Release
DISPLAY_NAME = $(DISPLAY_NAME)-Release
INFOPLIST_FILE = $(TARGET_NAME)/info-Release.plist
