<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234537276134-bqflocjpnbpmlv0rlmsgtb8670ucg8b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234537276134-bqflocjpnbpmlv0rlmsgtb8670ucg8b7</string>
	<key>API_KEY</key>
	<string>AIzaSyC52I5w2LdQmRKo4jj9nurydBxliYUcA7U</string>
	<key>GCM_SENDER_ID</key>
	<string>234537276134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lx.bl</string>
	<key>PROJECT_ID</key>
	<string>lxtoolkit</string>
	<key>STORAGE_BUCKET</key>
	<string>lxtoolkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234537276134:ios:b2879d46c55705742ba127</string>
</dict>
</plist>